.w3-button {
	color:black;
}

.w3-bar-item {
	color: white;
}
.topnav {
	background-color: #333;
	overflow: hidden;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.topnav .icon {
	display: none;
}

.topnav.responsive a{
	float: none;
	display: block;
	text-align: left;
}

h1 {
	color:orange;
	font-family: sans-serif;
	text-align: center;
}
p {
	font-family: sans-serif;
}

.container {
	position: relative;
	text-align: center;
	color: white;
	font-family: futura;
	font-size: 60px;
	margin: 30px;
	background-color: #ffffff;
	opacity: 0.6;
	filter: alpha(opacity=60;);
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container-2 {
	position: relative;
	text-align: center;
	color: black;
	font-family: futura;
	font-size: 60px;
	margin: 30px;
	background-color: #ffffff;
	opacity: 0.6;
	filter: alpha(opacity=60;);
}

.centered-2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container-3 {
	position: relative;
	text-align: center;
	color: black;
	font-family: futura;
	font-size: 60px;
	margin: 30px;
	background-color: #ffffff;
	opacity: 0.6;
	filter: alpha(opacity=60;);
}

.centered-3 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container-4 {
	position: relative;
	text-align: center;
	color: black;
	font-family: futura;
	font-size: 60px;
	margin: 30px;
	background-color: #ffffff;
	opacity: 0.6;
	filter: alpha(opacity=60;);
}

.centered-4 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.column {
    float: left;
    width: 45%;
    font-family: futura;
    color: grey;
    padding: 15px;
} 
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}
